@import "tailwindcss";

@theme {
  --color-white: #f3f3f3;
  --color-light-gray: #dbdbdb;
  --color-dark-blue: #1f2125;
  --color-black: #202221;
  --color-moss: #758e4f;
  --color-tangerine: #c94c20;
  --color-tangerine-light: #d4704d;
  --color-tangerine-dark: #b5441d;
  --font-lennon: Lennon;
  --font-main: articulat-cf, sans-serif;
}

.fade-in-out {
  transition: all 200ms ease-in-out;
}
